@import "tailwindcss";

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-Book.woff2') format('woff2');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-monument: "Monument Extended", sans-serif;
  --font-circular: "Circular Std", sans-serif;

  --color-brand-bg: #fcf5ee;
  --color-brand-text: #3f352c;
  --color-brand-black: #000000;
}

:root {
  --background: var(--color-brand-bg);
  --foreground: var(--color-brand-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-circular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure images don't default to displaying block with whitespace underneath */
img, video {
  max-width: 100%;
  height: auto;
}
